*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(./grunge-brick-wall-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
h1{
    color: red;
    text-shadow: 1px 1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(255, 255, 255), 1px -1px 1px rgb(0, 0, 0), -1px -1px 1px #000;
    font-size: 45px;
}
h3{
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(0, 0, 0), 1px -1px 1px rgb(0, 0, 0), -1px -1px 1px #000;
    font-size: 30px;
}

#formulario{
    margin: 150px auto 0;
    text-align: center;
}
input{
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    text-align: center;
}
select{
    outline: none;
    padding: 12px;
    width: 370px;
    border-radius: 5px;
}

button{
    padding: 15px;
    border-radius: 50%;
    outline: none;
    transition: 0.4s;
}
button:hover{
    color: white;
    background-color: rgba(255, 4, 4, 0.739);
}
p{
    color: white;
    text-align: center;
}

@media screen and (max-width: 500px){
    #formulario{
        margin: 150px auto 0;
        text-align: center;
    }
}